#board-info #viewers-area {

  color: #980528; /* 접속자 수 글씨 색 */

}

#board-info #viewers-area #viewers:after {

  content: "명의 불고기들";    /* 숫자 뒤에 들어갈 문구 */


      /* 출력시 : n명 접속중 */

  cursor: text;

}

/* Top 버튼 이미지 변경 */
#movetotop img {
  display:none
}

#movetotop{
  display: inline-block;
  opacity: 1;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  background: url(https://static-cdn.jtvnw.net/jtv_user_pictures/bulmyeol_tv-profile_image-504a0c7c5574f6b7-70x70.jpeg);
  width: 80px;  
  height: 80px;
  background-size: contain;
}